<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Declaring optional camera hardware feature -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Permissions required by the app -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TemiApp"
        tools:targetApi="31">

        <!-- Uncomment the following metadata if you are using Temi SDK -->
        <!--
        <meta-data
            android:name="com.robotemi.sdk.metadata.SKILL"
            android:value="TemiApp" />
        -->

        <!-- Define activities -->
        <activity android:name=".ui.LoadingActivity" />
        <activity android:name=".ui.ErrorActivity" />
        <activity android:name=".ui.QRCodeActivity" />

        <!-- VideoActivity is set as the launcher activity -->
        <activity android:name=".ui.VideoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity definition -->
        <activity android:name=".MainActivity" />
    </application>

</manifest>
